name: Auto Update Libraries Daily

on:
  workflow_dispatch:      # Chạy thủ công
  schedule:
    - cron: '0 0 * * *'   # 00:00 UTC hàng ngày

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write     # Quyền ghi để push code

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Update libs and Build Zip
        run: |
          # 1. Đảm bảo pip mới nhất
          python -m pip install --upgrade pip
          
          # 2. Cài thư viện vào thư mục đích (libs_build)
          # Lưu ý: --platform win_amd64 nếu bạn chạy app trên Windows
          pip install --upgrade -r requirements.txt --target libs_build
          
          # 3. Vào thư mục và nén nội dung (QUAN TRỌNG: cd vào trong để zip không chứa folder cha)
          cd libs_build
          zip -r ../libs.zip .
          cd ..
          
          # 4. Dọn dẹp và đánh dấu version
          rm -rf libs_build
          date +%s > version.txt

      - name: Commit and Push
        run: |
          git config --global user.name "Auto Bot"
          git config --global user.email "bot@example.com"
          
          git add libs.zip version.txt
          git commit -m "Daily Auto Update [skip ci]" || echo "No changes"
          git push
